{{ 'image-with-text-section.css' | asset_url | stylesheet_tag }}

<div class="image-with-text-section">
  <div class="image-with-text-container">
    <div class="image-with-text-image">
      {% if section.settings.main_image != blank %}
        <img src="{{ section.settings.main_image | image_url: width: 2000 }}" alt="Main Image" width="1500" height="100" loading="lazy">
        {% if section.settings.badge_image != blank %}
          <div class="badge-image">
            <img src="{{ section.settings.badge_image | image_url: width: 100 }}" alt="Badge Image" width="300" height="300" loading="lazy"> 
          </div>
        {% endif %}
      {% endif %}
    </div>
    <div class="image-with-text-content">
      {% if section.settings.doctor_name != blank %}
        <h3>{{ section.settings.doctor_name }}</h3>
      {% endif %}
      {% if section.settings.heading != blank %}
        <h2>{{ section.settings.heading }}</h2>
      {% endif %}
      {% if section.settings.content != blank %}
        <p>{{ section.settings.content }}</p>
      {% endif %}
      {% if section.settings.button_text != blank and section.settings.button_url != blank %}
        <a href="{{ section.settings.button_url }}" class="btn">{{ section.settings.button_text }}</a>
      {% endif %}
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Image with Text Section",
  "settings": [
    {
      "type": "image_picker",
      "id": "main_image",
      "label": "t:sections.image-with-text-section.settings.main_image.label",
      "info": "t:sections.image-with-text-section.settings.main_image.info"
    },
    {
      "type": "image_picker",
      "id": "badge_image",
      "label": "t:sections.image-with-text-section.settings.badge_image.label",
       "info": "t:sections.image-with-text-section.settings.badge_image.info"
    },
    {
      "type": "text",
      "id": "doctor_name",
      "label": "t:sections.image-with-text-section.settings.doctor_name.label"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:sections.image-with-text-section.settings.heading.label"
    },
    {
      "type": "textarea",
      "id": "content",
      "label": "t:sections.image-with-text-section.settings.content.label"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "t:sections.image-with-text-section.settings.button_text.label"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "t:sections.image-with-text-section.settings.button_url.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.image-with-text-section.presets.name"
    }
  ]
}
{% endschema %}